<div class="home-container">
  <div class="home-landing">
    <div class="container">
      <h1><strong>The Complex</strong> Gentleman's barbershop</h1>
      <p>Located at 5025 N Rd 68 Suite F, Pasco, WA</p>
      <a class="btn btn-ghost" href="#">Book now</a>
    </div>
  </div>

  <div class="home-products">
    <h1 class="tagline">Our high quality products</h1>

    <div class="container">
      <div class="row">
        <div class="cards">
          <div class="col card-category" id="product1">
            <div class="product-name">
              <h2>Product name</h2>
              <p class="product-description">This product is a great product, has a lot of things that are very cool about it. Very cool. Very cool Kanye.</p>
              <p class="price">
                $36
              </p>
            </div>
          </div>

          <div class="col card-category" id="product2">
            Product 2
          </div>

          <div class="col card-category" id="product3">
            Product 3
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="home-staff">
    <h1 class="tagline">Meet our team</h1>
    <div class="container">
      <div class="row">
        <div class="cards">   
          <% @barbers.each do |barber| %>  
            <div class="col card-category barber-pic">
              <%= cl_image_tag barber.photo.key, height: 400, width: 390, crop: :fill %>
              <ul class="social-icons">
                <li>
                  <a href="<%= barber.instagram %>" target="blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="<%= barber.booksy %>" target="blank">
                    <i class="fab booksy"> <%= cl_image_tag("booksy_uvyquh.png", width: 30, height: 30) %></i>
                  </a>
                </li>
              </ul>
              <div class="details">
                <h2><%= barber.name %></h2>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="home-testamonials">
  </div>

  <div class="home-location">
  </div>

</div>


