<div class="home-container">
  <div class="home-landing" id="1">
    <div class="container">
      <h1><strong>The Complex</strong> Gentleman's Barbershop</h1>
      <p>Located at 5025 N Rd 68 Suite F, Pasco, WA</p>
      <a class="btn btn-ghost-lg" href="#3">Book now</a>
    </div>
  </div>

  <div class="home-products" id="2">
    <h1 class="tagline">Our products</h1>

    <div class="container">
      <div class="row">
        <div class="cards">
          <% @products.each do |product| %>
            <div class="col card-category">
            <%= cl_image_tag product.photo.key, height: 400, width: 390 %>
              <div class="product-info">
                <h2><%= product.name %></h2>
                <p class="product-description"><%= product.description %></p>
                <p class="price">$<%= product.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="home-staff" id="3">
    <h1 class="tagline">Meet our team</h1>
    <div class="container">
      <div class="row">
        <div class="cards">   
          <% @barbers.each do |barber| %>  
            <div class="col card-category barber-pic">
              <%= cl_image_tag barber.photo.key, height: 400, width: 340, crop: :fill %>
              <ul class="social-icons">
                <li>
                  <a href="<%= barber.instagram %>" target="blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="<%= barber.booksy %>" target="blank">
                    <i class="fab booksy"> <%= cl_image_tag("booksy_uvyquh.png", width: 30, height: 30) %></i>
                  </a>
                </li>
              </ul>
              <div class="book-btn">
                <a href="<%= barber.booksy %>" target="blank" class="btn btn-ghost barber-btn">Book now</a>
              </div>
              <div class="details">
                <h2><%= barber.name %></h2>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="home-testamonials" id="4">
  <h1 class="tagline">What people say about us</h1>
    <div class="container">
      <div class="row">
        <div class="cards">
          <div class="quote">
            <p class="text-left">"It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!"</p>
            <p class="text-right">Easton W.</p>
          </div>
       

          <div class="quote">
            <p class="text-left">"I got my first hair cut and beard trim with Bert before my wedding and he killed it! Best haircut I have ever received in the Tri-Cities!"</p>
            <p class="text-right">Jake H.</p>
          </div>

          <div class="quote">
            <p class="text-left">"Abel is hands down the best barber in Tri-Cities. Very friendly and personable. Remembers exactly how I like my hair cut and takes his time with every appointment to ensure it’s a perfect cut. I can’t speak highly enough of Abel and Complex Barbershop."</p>
            <p class="text-right">Josiah H.</p>
          </div>

          <div class="quote">
            <p class="text-left">"I took my son to get his hair cut and ced did an incredible job! My little boy was very nervous but ced went above and beyond to insure my son was comfortable and happy with his first mohawk"</p>
            <p class="text-right">Monique O.</p>
          </div>

          <div class="quote">
            <p class="text-left">"Very happy with the quality of service Erik provides. Just started going to him and after the first visit, finally found someone who cuts my hair and beard just right. Book with him and you wont be sorry."</p>
            <p class="text-right">Gary B.</p>
          </div>

          <div class="quote">
            <p class="text-left">"Dope atmosphere and cool bunch of barbers. Feels like you’re just chilling with a bunch of friends who all give mad haircuts. Abel is awesome and is an artist when it comes to cutting hair."</p>
            <p class="text-right">Patrick F.</p>
          </div>
        </div >
      </div>
    </div>
  </div>

  <div class="home-location" id="5">
    <div class="bottom-complex">
      <%= image_tag "complex-circle.png", class: 'avatar-bottom' %>
      <h1><strong>THE COMPLEX</strong> Gentleman's Barbershop</h1>
      <h3><i class="fas fa-map-marker-alt" style="font-size: 20px;"></i> 5025 N Rd 68 Suite F Pasco, WA 99301, USA</h3>
      <h3><i class="fas fa-envelope" style="font-size: 20px;"></i> thecomplexbarbershop509@gmail.com</h3>
      <h3><i class="fas fa-mobile-alt" style="font-size: 20px;"></i> (509) 307-6210</h3>
    </div>
  </div>

</div>


