<div class="home-container">
  <div class="home-landing">
    <div class="container">
      <h1><strong>The Complex</strong> Gentleman's barbershop</h1>
      <p>Located at 5025 N Rd 68 Suite F, Pasco, WA</p>
      <a class="btn btn-ghost" href="#">Book now</a>
    </div>
  </div>

  <div class="home-products">
    <h1 class="tagline">Our high quality products</h1>

    <div class="container">
      <div class="row">
        <div class="cards">
          <% @products.each do |product| %>
            <div class="col card-category">
            <%= cl_image_tag product.photo.key, height: 400, width: 390 %>
              <div class="product-info">
                <h2><%= product.name %></h2>
                <p class="product-description"><%= product.description %></p>
                <p class="price">$<%= product.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="home-staff">
    <h1 class="tagline">Meet our team</h1>
    <div class="container">
      <div class="row">
        <div class="cards">   
          <% @barbers.each do |barber| %>  
            <div class="col card-category barber-pic">
              <%= cl_image_tag barber.photo.key, height: 400, width: 390, crop: :fill %>
              <ul class="social-icons">
                <li>
                  <a href="<%= barber.instagram %>" target="blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="<%= barber.booksy %>" target="blank">
                    <i class="fab booksy"> <%= cl_image_tag("booksy_uvyquh.png", width: 30, height: 30) %></i>
                  </a>
                </li>
              </ul>
              <div class="details">
                <h2><%= barber.name %></h2>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="home-testamonials">
  <h1 class="tagline">What people say about us</h1>
    <div class="container">
      <div class="row">
        <div class="cards">
          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>
       

          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>

          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>

          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>

          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>

          <div class="quote">
            <p>It was my First time, Abel was fantastic! Conversation was kept, the store atmosphere was very social and including, and the cut itself was perfect. Think I found my barber shop!</p>
            <p class="text-right">Easton W.</p>
          </div>
        </div >
      </div>
    </div>
  </div>

  <div class="home-location">
  </div>

</div>


